Library/
Logs/
Builds/
Temp/
UserSettings/
obj/
SwitchIL2CPPCache/
SwitchIL2CPPStats/
.vs/
.vscode/
.idea/

Screenshots/
Assets/Trash
Assets/Trash.meta
Assets/Screenshots
Assets/Screenshots.meta

/*.vsconfig
/*.csproj
/*.sln
*.user
/*.log

## FMOD
/Tools/FMOD/SpaceHunter/.cache
/Tools/FMOD/SpaceHunter/.user
/Tools/FMOD/SpaceHunter/.unsaved
/Assets/Plugins/FMOD/Cache
/Assets/Plugins/FMOD/Cache.meta
/Assets/StreamingAssets/*.bank
/Assets/StreamingAssets/*.bank.meta